*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //  1rem = 10px
}

body {
    line-height: 1.6;
    font-family: "mukta", sans-serif;
    font-size: 1.6rem;
    padding: 2rem;
    overflow-x: hidden;
    background-attachment: fixed;

    ::selection {
        color: #fff;
        background-color: #555;
        background-color: $color-primary-light;
    }
}

.header {
    background-image: linear-gradient(to right bottom,
     rgba($color-primary-light, 0.7), rgba($color-primary-light,
      0.3)), url(../Img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;


    .buttons {
        text-align: center;
    }
}

section {
    padding-top: 6rem;
}