//HEADERS//
%heading-main {
    font-family: "montserrat";
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}
.heading-main {
    font-family: "montserrat";
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    &__white {
        color: $color-white;
        @extend %heading-main;
    }
    &__green {
        color: $color-secondary;
        @extend %heading-main;
    }
}

.heading-sub {
    font-size: 2rem;
    font-family: "montserrat";
    font-weight: 200;

}


//CURRENT PAGE NOTIFIER //
#current-page {
    border: 1px solid $color-secondary;
    color: $color-grey-light-1;
}

// BUTTONS //

.btn {
    font-size: 1.5rem;
    font-family: "mukta";
    padding: 1rem 3rem;
    border: 0;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s;

    &:focus {
        outline: none;
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.4);
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.4);
    }
    
    &__header {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $color-secondary;
        color: #fff;

        &:hover {
            border: 2px solid #fff;
        }
    }

    &__header1 {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $color-secondary;
        color: #fff;
        margin-right: 2rem;

        &:hover {
            border: 2px solid #fff;
        }
    }

    &__slider {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: 2px solid $color-white;
        color: #fff;

        &:hover {
            border: 2px solid $color-secondary;
            background-color: $color-white;
            color: $color-secondary;
        }
    }

    &__main {
        margin: 0 auto;
        background-color: transparent;
        border: 2px solid $color-secondary;
        color: #fff;

        &:hover {
            border: 2px solid #fff;
            color: $color-secondary;
        }

        &-plans {
            margin: 0 auto;
            background-color: transparent;
            border: 2px solid $color-secondary;
            color: #fff;
            &:hover {
                background-color: $color-secondary;
                border: 2px solid #fff;
                color: $color-white;
            }
    
        }
    }

    &__contact {
        margin-left: auto;
        background-color: transparent;
        border: 2px solid $color-white;
        color: #fff;

        &:hover {
            background-color: $color-white;
            border: 2px solid $color-white;
            color: $color-secondary;
        }
    }

    &__newsletter {
        border: 2px solid $color-secondary;
        background-color: transparent;
        color: $color-white;

        &:hover {
            color: #000;
            background-color: white;

        }
    }

}

.map {
    margin-top: -15rem;
    width: 100%;
    height: 50rem;
    grid-column: 1 / -1;
    grid-row: 1 /-1;
    opacity: 0.7;
}


.btn-plan__main {
    background-color: #298494;
    border: 2px solid #fff;

    &:hover {
        background-color: transparent;
        border: 2px solid #298494;
    }
}

// Slick arro
.slick-arrow {
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all .2s;

    &:hover {
        transform: translateY(-22px);
    }
}