//HEADERS//

.heading-main {
    font-family: "montserrat";
    font-size: 3.5rem;
    font-weight: 400;
    color: $color-secondary;
    text-align: center;
}

.heading-sub {
    font-size: 2rem;
    font-family: "montserrat";
    font-weight: 200;

}

//CURRENT PAGE NOTIFIER //
#current-page {
    border: 1px solid $color-secondary;
    color: $color-grey-light-1;
}

// BUTTONS //

.btn {
    font-size: 1.5rem;
    font-family: "mukta";
    padding: 1rem 3rem;
    border: 0;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s;

    &:focus {
        outline: none;
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.4);
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.4);
    }
    
    &__header {
        margin: 0 auto;
        background-color: transparent;
        border: 2px solid $color-secondary;

        &:hover {
            border: 2px solid #fff;
            color: $color-secondary;
        }
    }

    &__main {
        margin: 0 auto;
        background-color: transparent;
        border: 2px solid $color-secondary;

        &:hover {
            border: 2px solid #fff;
            color: $color-secondary;
        }
    }

}

